<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>placeholder</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>Welcome to my Blog!</h1>
      <a href="/">Go to home page</a>
      <br/>
      <a href="/dashboard">Go to my page</a>
      <br/>
      <br/>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        {{!-- <a href="/profile">Profile</a> | --}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="register">Join Us</a>
        <br/>
        <a href="login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  
  <script>

document.getElementById('logout').onclick =async function(e){
e.preventDefault();
const response = await fetch('/api/user/logout', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  }
});
if(response.ok){
  document.location.replace('/');
}

}

  </script>
  
</body>

</html>
